.vscode/**
.vscode-test/**
.github/**
.husky/**
src/**
scripts/**
test/**
out/**
node_modules/**
.git/**
.gitignore
esbuild.js
tsconfig.json
vitest.config.ts
.oxlintrc.json
.oxfmtrc.json
release-please-config.json
.release-please-manifest.json
pnpm-lock.yaml
CLAUDE.md
media/*.svg
**/*.map
**/*.profraw
**/*.ts
.eslintrc*
